@media only screen and  (max-width: 576px){
    #about-slide{
        height: 70vh !important;
    }

    #about-slide h1{
        margin-left: 0 !important;
        font-size: 5vh !important;
    }

  
    #footer{
        margin: 0!important;
        padding: 0 !important;
    }
   
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    #about-main{ 
        margin-top: 40vh !important;
    } 
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    #about-main .text-div1 h2{
        margin: 0 !important;
    }

    #about-main .main-slide{
        height: 40vh !important;
    }
}